# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
env/
venv/
ENV/
venv.bak/
.venv/
.env/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
# If you collect static into a “static/” directory:
static/

# Django migrations
# (version-control your migrations if you prefer; otherwise ignore them)
**/migrations/
!**/migrations/__init__.py

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.pytest_cache/
toxo/
.nox/

# Translations
*.mo
*.pot

# PyInstaller
*.manifest
*.spec

# Installer artifacts
pip-wheel-metadata/

# Environments and lock files
Pipfile.lock
poetry.lock
.python-version

# MyPy
.mypy_cache/

# pyre
.pyre/

# Celery
celerybeat-schedule

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*~

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
